@inherits LayoutComponentBase

<div class="page">
    <CascadingValue Name="electricityMarkets" Value="@electricityMarkets">
        @*<CascadingValue Name="setElectricityMarkets" Value="@SetElectricityMarkets">*@
            <div class="sidebar">
                <NavMenu OnNewDataAvailable="@SetElectricityMarkets"/>
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <h3>Intelometry</h3>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        @*</CascadingValue>*@
    </CascadingValue>
</div>

@code{
    List<ElectricityMarket> electricityMarkets = new List<ElectricityMarket>();

    void SetElectricityMarkets(List<ElectricityMarket> newData)
    {
        electricityMarkets = newData;
        StateHasChanged();
    }
}
