@page "/charts"

@inject IJSRuntime _jsRuntime

<div class="card-material table-responsive">

    <select @bind="showDataOf" class="custom-select mt-2">
        <option disabled value="">Select parameter...</option>

        <option value="HighpriceMWh">High price $/MWh</option>
        <option value="LowpriceMWh">Low price $/MWh</option>
        <option value="WtdavgpriceMWh">Wtd avg price $/MWh</option>
        <option value="Change">Change</option>
        <option value="DailyvolumeMWh">Daily volumen MWh</option>

    </select>


    <div id="container" class="w-100" style="height: 80vh;"></div>
</div>

@code {
    [CascadingParameter(Name = "electricityMarkets")]
    List<ElectricityMarket> electricityMarkets { get; set; }

    string showDataOf = "";

    protected override async Task OnAfterRenderAsync(Boolean firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await _jsRuntime.InvokeAsync<string>("displayChart", "Hello");


    }

}