@page "/counter"
@inject PriceHubRepository priceHubRepository

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        PriceHub response = priceHubRepository.Insert("Pepe");

        Console.WriteLine(response.PriceHubName+" "+response.PriceHub_id);

        List<PriceHub> respMany = priceHubRepository.ListAll();

        Console.WriteLine(respMany.Count);
    }


}
