@page "/"

@inject IJSRuntime _jsRuntime

<div class="d-flex align-items-start">


</div>

<div id="container"></div>

@if (electricityMarkets != null && electricityMarkets.Count > 0)
{
    <div class="card-material mt-5">

        <GenericDataTable items="electricityMarkets" columnNames="columnNames"></GenericDataTable>

    </div>}




@code
{
    [CascadingParameter(Name = "electricityMarkets")]
    List<ElectricityMarket> electricityMarkets { get; set; }

    private async Task ShowChart()
    {
        await _jsRuntime.InvokeAsync<string>("displayChart", "Hello");
    }


    public static Dictionary<string, string> columnNames = new Dictionary<string, string>(){
    {"Pricehub", "Price Hub"},
    {"Tradedate", "Trade Date"},
    {"Deliverystartdate", "Delivery start Date"},
    {"Deliveryenddate", "Delivery end Date"},
    {"HighpriceMWh", "High price $/MWh"},
    {"LowpriceMWh", "Low price $/MWh"},
    {"WtdavgpriceMWh", "Wtd avg price $/MWh"},
    {"Change", "Change"},
    {"DailyvolumeMWh", "Daily volumen MWh"},};}