@page "/"




@if (dbFilled)
{
    <div class="card-material">
        <GenericDataTable items="electricityMarkets" columnNames="columnNames"></GenericDataTable>
    </div>
}


@if (loadingFile)
{
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <img src="img/loading.gif" class="card-material rounded-all w-50" />
        <div class="disclaimer">* Service hosted on an FREE Azure server and FREE DB. There may be some performance issues...</div>
    </div>
}
else
{
    <NoData />
}




@code
{
    [CascadingParameter(Name = "electricityMarkets")]
    List<ElectricityMarket> electricityMarkets { get; set; }

    [CascadingParameter(Name = "dbFilled")]
    bool dbFilled { get; set; }

    [CascadingParameter(Name = "loadingFile")]
    bool loadingFile { get; set; }


    public static Dictionary<string, string> columnNames = new Dictionary<string, string>(){
    {"PriceHubName", "Price Hub"},
    {"Tradedate", "Trade Date"},
    {"Deliverystartdate", "Delivery start Date"},
    {"Deliveryenddate", "Delivery end Date"},
    {"HighpriceMWh", "High price $/MWh"},
    {"LowpriceMWh", "Low price $/MWh"},
    {"WtdavgpriceMWh", "Wtd avg price $/MWh"},
    {"Change", "Change"},
    {"DailyvolumeMWh", "Daily volumen MWh"},};}